*{
    margin: 0;
    padding: 0;
    font-family: valorant;
}

@font-face {
    font-family: valorant;
    src: url(Valorant_Font.ttf);
}

@font-face {
    font-family: gameplay;
    src: url(Gameplay.ttf);
}

body{
    background-image: url(pictures/background.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}

.bg-pic{
    position: relative;
    background-image: url(pictures/home-pic.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 145vh;
}


.bg-pic3{
    background-image: url(pictures/background2.jpg);
}

.navbar{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 10%;
    z-index: 10;
}

.logo{
    width: 14%; 
}

.sidebar {
    width: 6vw;
    height: 5.3vw;
    margin-top: 1.5vw;
    display: none;
}

.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1vw;
    color: white;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
}

.navbar ul li .titles-btn:before{
    content: "";
    position: absolute;
    bottom: -6px;
    height: 6px;
    width: 0;
    background: #ffffff;
    border-radius: 50px;
    transition: width 0.3s linear;
}

.navbar ul li .titles-btn:hover:before{
    width: 45%;
}

.WWA:before{
    content: "";
    position: absolute;
    bottom: -6px;
    height: 6px;
    width: 0;
    background: #ffffff;
    border-radius: 50px;
    transition: width 0.3s linear;
}

.WWA:hover:before{
    width: 60%;
}

.contact-pic img{
    cursor: pointer;
    margin-top: 5%;
    padding-left: 1vw;
    width: 3vw;
    height: 3vw;
}

.line{
    font-size: 4vw; 
    color:rgb(255, 255, 255); 
    margin-top: 0.7vw;
}

.title{
    font-size: 3vw;
    color: #8A8A8A;
}

.quotes{
    font-size: 1.5vw;
    color: white;
}

.text-insctiption{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1vw;
    color: #7E7E7E;
    letter-spacing: 2px;
}

.email-jump input{
    width: 40vw;
    height: 4vw;
    border-radius: 10px;
    border: 1px solid #D6C8C8;
    background: rgba(217, 217, 217, 0.32);
    margin-left: 4vw;
}

::placeholder{
    padding-left: max(1.5vw, 20px);
    color: #E7DBDB;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.jump-btn{
    font-size: 1vw;
    cursor: pointer;
    color: white;
    width: 10vw;
    height: 4vw;
    border-radius: 10px;
    background: rgba(99, 0, 178, 0.78);
}

.jump-btn:hover{
    outline: none;
    animation: title-btn 1s linear infinite ;
}

@keyframes title-btn {
    0%{
        color: rgb(255, 255, 255);
        text-shadow: none;
    }
    10%{
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px #ffffff,
        0 0 10px #ffffff,
        0 0 10px #ffff,
        0 0 10px #ffff,
        0 0 10px #ffff;
    }
}

.link1{
    color: #a925ba ;
    border-bottom: 5px solid #a925ba ;
}

.welcome-msg{
    color:  white 
}

.fisrt-news{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 4vw;
}

.big-pic pre{
    color: #414141;
    font-size: 2vw;
}

.read-more{
    color: white;
}

.read-more pre{

    margin-left: 2vw;
}

.line01{
    border-bottom: 2px solid #7F6E6E;
    margin:1vw 6vw 4vw 6vw;
}

.line0{
    border-bottom: 2px solid #7F6E6E;
    margin:1vw 6vw 4vw 6vw;
}

.line1{
    border-bottom: 2px solid #7F6E6E;
    margin:1vw 6vw 4vw 6vw;
}

.small-pic{
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    color: #ffffff;
    font-size: 1.5vw;
}

.line2{
    border-bottom: 2px solid #7F6E6E;
    margin:5vw 6vw 5vw 6vw;
}

.line3{
    border-bottom: 5px solid #7F6E6E;
    margin:6vw 0px 8vw 0px;
}

.email-jump1 input{
    width: 20vw;
    height: 3.5vw;
    border-radius: 10px;
    border: 1px solid #D6C8C8;
    background: rgba(217, 217, 217, 0.32);
}

.subscribe-btn{
    cursor: pointer;
    color: #E7DBDB;
    width: 10vw;
    height: 3.5vw;
    border-radius: 10px;
    background: rgba(99, 0, 178, 0.78);
}

.subscribe-btn:hover{
    outline: none;
    animation: title-btn 1s linear infinite ;
}

::placeholder{
    color: #E7DBDB;
    font-family: valorant;
    font-size: 0.7vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.adress{
    color: white;
    font-size: 12px;
}

.sitemap{
    display: flex;
    flex-direction: column;
}

.sitemap a{
    margin-right: 15vw;
    margin-top: 1vw;
    color: white;
    line-height: 3;
}

.contact-footer{
    cursor: pointer;
    margin-top:0.6vw;
    display: flex;
    flex-direction: row;
}

.footer{
    display: flex;
    justify-content: space-around;
}

.line4{
    border-bottom: 1px solid #7F6E6E;
    margin:6vw 0px 1vw 0px;
}

.privacy a{
    padding-left: 2vw;
    color: white;
}

.privacy{
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
}

.under-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.big-video1 {
    position: absolute;
    background-image: url(pictures/spider-man.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 80%;
    animation: slide 20s linear infinite;
    visibility: hidden;
}

.big-video2 {
    position: absolute;
    background-image: url(pictures/resident-evil.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 80%;
    animation: slide 20s linear infinite 5s;
    visibility: hidden;
}

.big-video3 {
    position: absolute;
    background-image: url(pictures/horizon.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 80%;
    animation: slide 20s linear infinite 10s;
    visibility: hidden;
}

.big-video4 {
    position: absolute;
    background-image: url(pictures/valorant.png);
    background-repeat: no-repeat;
    height: 100%;
    width: 80%;
    animation: slide 20s linear infinite 15s;
    visibility: hidden;
}

.all-in-once:hover {
    animation-play-state: paused;
}

.all-small-pic{
    margin-top: 130vh;
}

@keyframes slide {
    0% {
        visibility: visible;
        transform: scale(0.4);
    }
    2% {
        transform: scale(1);
    }
    23% {
        transform: scale(1);
    }
    25%{
        visibility: visible;
        transform: scale(0.4);
    }
    25%, 100% {
        visibility: hidden;
    }
}




.title-video{
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 4px -4px 10px #000000,
    -4px 4px 10px #000000,
    4px -4px 10px #000000,
    -4px 4px 10px #000000,
    4px -4px 10px #000000,
    -4px 4px 10px #000000,
    4px -4px 10px #000000,
    -4px 4px 10px #000000,
    4px -4px 10px #000000,
    -4px 4px 10px #000000,
    4px -4px 10px #000000,
    -4px 4px 10px #000000;
}

.little-title {
    color: rgb(212, 200, 200);
    text-shadow: 4px -4px 10px #000000,
    -4px 4px 10px #000000,
    4px -4px 10px #000000,
    -4px 4px 10px #000000,
    4px -4px 10px #000000,
    -4px 4px 10px #000000,
    4px -4px 10px #000000,
    -4px 4px 10px #000000,
    4px -4px 10px #000000,
    -4px 4px 10px #000000,
    4px -4px 10px #000000,
    -4px 4px 10px #000000;
    
}


.watch-btn{
    margin-left: 7%;
    width: 23%;
    height: 10%;
    border-radius: 3.5vw;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: end;
}

.watch-now{
    text-decoration: none;
    background-color: black;
    padding-right: 5%;
    padding-left: 7%;
    font-family: gameplay;
    color: white;
    font-size: 1.7vw;  
   
}

.avatar-name{
    color: white;
    font-size: 1vw;
}

.avatar{
    display: flex;
    margin-left: 6%;
}

.text-posted{
    color: white;
    font-size: 1vw;
}

.react{
    margin-left: 7%;
}

.posted-pic{
    width: 85%;
    margin: 1% 6% ;
}

@media (max-width:1024px) {
    .contact-pic img{
        width: 35px;
        height: 35px;
        margin-top: 9%;
    }

    .line{
        margin-top: 1.5vw;
    }
    .quotes{
        margin-bottom: 10%;
    }

    .email-jump input{
        width: 40vw;
        height: 5vw;
 
    }
    ::placeholder{
        font-size: 1vw;
    }
    .jump-btn{
        font-size: 1.5vw;
        width: 16vw;
        height: 5vw;
    }

    .logo{
        width: 17%; 
    }

    .bg-pic{
        height: 110vh;
    }
}

@media (max-width:768px) {

    .navbar ul li a{
        display: none;
    }

    .line{
        display: none;
    }

    .contact-pic{
        display: none;
    }

    .logo{
        width: 25%; 
        margin-right: 63%;
    }
    .sidebar{
        display: block;
    }
    .bg-pic{
        background-image: url(pictures/tablet-home-bg.png);
        /* position: relative; */
        background-size: cover;
        background-repeat: no-repeat;
        height: 145vh;
    }
    .title{
        font-size: 4vw;
    }
    .quotes{
        font-size: 2vw;
    }
    .text-insctiption{
        font-size: 1.5vw;
    }
    .email-jump input{
        width: 50vw;
        height: 7vw;
 
    }
    ::placeholder{
        font-size: 1.5vw;
    }
    .jump-btn{
        font-size: 1.5vw;
        width: 15vw;
        height: 7vw;
    }
}

@media (max-width:426px) {
    .big-pic{
        background-image: url(pictures/phone-home-bg.png);
    }

    .logo{
        position: absolute;
        width: 48vw;
        margin-left: 10%;
    }

    .sidebar {
        width: 12vw;
        height: 10vw;
        margin-top: 2vw;
        margin-left: 80vw;        
    }

    .bg-pic{
        padding-top: 100px;
    }
    .navbar{
        top: 0;
    }
    .title{
        font-size: 6vw;
        margin-top: -29%;
    }
    .quotes{
        font-size: 3vw;
        margin-bottom: 50%;
    }
    .text-insctiption{
        font-size: 2vw;

    }
    .email-jump input{
        width: 60vw;
        height: 9vw;
        margin-left: 9vw;
 
    }
    ::placeholder{
        font-size: 2vw;
    }
    .jump-btn{
        font-size: 3vw;
        width: 18vw;
        height: 10vw;
    }
}

@media (max-width:426px) {
    
    body{
        background-image: url(pictures/phone-news-bg.png);
        background-size: 250%;
    }
    .navbar{
        height: 7%;
    }
    .logo{
        width: 35%;
    }
    .sidebar{
        display: block;
    }
    
}
